.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fdfcfc;
    padding: 10px;
}

.logo {
    width: 80px;
    /* Adjust the width as needed */
    height: auto;
    /* Maintain aspect ratio */
}

.Header ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

.Header li {
    padding: 5px;
}

.Header a {
    text-decoration: none;
    color: #333;
}

.search {
    padding: 10px;

}

.res-card {
    padding: 5px;
    width: 200px;
    height: 350px;



}

.res-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.res-card:hover {
    border: 1px solid black;
    cursor: pointer;
}

.res-logo {
    width: 100%;
    height: 200px;
}

.filter-btn {
    margin: 10px;
    cursor: pointer;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.shimmer {
   

    background-Color: #eae6e6;
    border-Radius: 8px;
    padding: 16px;
    margin: 16px;
    width: 180px;
    height: 350px;
}
